<!DOCTYPE html>
<html>
  <head>
    <title>Ex치menes</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <h1>Lista de Ex치menes</h1>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/pacientes">Pacientes</a></li>
        <li><a href="/examenes">Ex치menes</a></li>
        <li><a href="/resultados">Resultados</a></li>
        <li><a href="/agregar">Agregar Paciente</a></li>
      </ul>
    </nav>
    <ul>
      <% examenes.forEach(examen => { %>
        <li>ID: <%= examen.id %> - Nombre: <%= examen.nombre %> - Descripci칩n: <%= examen.descripcion %></li>
      <% }); %>
    </ul>
  </body>
</html>