<!DOCTYPE html>
<html>
  <head>
    <title>Exámenes</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <h1>Lista de Exámenes</h1>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
      </ul>
    </nav>
    <ul>
      <% examenes.forEach(examen => { %>
        <li>ID: <%= examen.id %> - Nombre: <%= examen.nombre %> - Descripción: <%= examen.descripcion %></li>
      <% }); %>
    </ul>
  </body>
</html>