<!DOCTYPE html>
<html>
  <head>
    <title>Pacientes</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Lista de Pacientes</h1>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/pacientes">Pacientes</a></li>
        <li><a href="/examenes">Exámenes</a></li>
        <li><a href="/resultados">Resultados</a></li>
        <li><a href="/agregar">Agregar Paciente</a></li>
      </ul>
    </nav>
    <ul>
      <% pacientes.forEach(paciente => { %>
        <li>ID: <%= paciente.id %> - Nombre: <%= paciente.nombre %> <%= paciente.apellido %></li>
      <% }); %>
    </ul>
  </body>
</html>